
$color-dark-gunmetal: #1e2226 !default;
$color-dana: #54657E !default;;
$color-blueberry-soda: #8493a8;
$color-metalise: #34383c;
$color-boysenberry-shadow: #f3f5f8;
$color-berta-blue: #51D0EF !default;
$color-rain-dance: #a5cfdb !default;
$color-amaranth: #eb74aa !default;
