.btn {
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 15rem;
  max-height: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  text-decoration: none;
  vertical-align: central;
  line-height: 28px;
  box-sizing: border-box;
  background: $color-berta-blue;
  display: block;

  &:hover {
    filter: brightness(1.1);
  }

  &--primary-grey {
    background: #c3ced8;
  }

  &--secondary {
    background: #edfafd;
    color: $color-berta-blue;
    &:hover {
      filter: brightness(0.97);
    }
  }

  &--secondary-grey {
    color: #c3ced8;
    background: #f3f5f7;
    &:hover {
      filter: brightness(0.97);
    }
  }

  &--edit,
  &--upload {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    & span {
      padding-right: 5px;
      position: relative;
      top: 3px;
    }
  }

  &--upload {
    & span {
      &:after {
        content: "";
        width: 12px;
        height: 2px;
        background: #fff;
        bottom: 6px;
        left: 4px;
        position: absolute;
      }
    }
  }

  &--pill {
    border-radius: 999px;
  }

  &--small {
    padding: .5rem 1rem;
    max-width: 12rem;
    font-size: 1.2rem;
  }
}
