


.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem,1fr));
  grid-template-rows: 8rem;


  @include respond(tab-land) {
  grid-template-columns: repeat(auto-fill, minmax(6rem,1fr));
    grid-template-rows: 6rem;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(auto-fill, minmax(5rem,1fr));
    grid-template-rows: 5rem;
  }

  @include respond(phone) {
    grid-template-columns: repeat(auto-fill, minmax(3rem,1fr));
    grid-template-rows: 3rem;
  }



  &__chevron {
 border :1px solid #E7F0F3;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    fill: $color-blueberry-soda;

    & svg {
      width: 3rem;
      height: 3rem;

      @include respond(tab-port) {
        width: 2rem;
        height: 2rem;
      }
    }
    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  & a {
    text-decoration: none;
    font-size: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #E7F0F3;
    border-top: 1px solid #E7F0F3;
    color: $color-blueberry-soda;

    @include respond(tab-port) {
      font-size: 1.5rem;
    }
    &:nth-of-type(even) {
      border-left: 1px solid #E7F0F3;
      border-right: 1px solid #E7F0F3;
    }

    &:hover {
      background: $color-berta-blue;
      color: #fff;
    }

    &:active {
      background: $color-berta-blue;
    }
  }
}
