.scrollspy {
  padding-top: 8rem;
  padding-bottom: 5rem;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

  @include respond(tab-land) {
    padding-left: 2rem;
  }

  @include respond(tab-port) {
   position: fixed;
    top: 0;
    transform: translate3d(-100%, 0 , 0);
     background: $color-dark-gunmetal;
    height: 100%;
    width: 70%;
    padding-top: 8rem;
    grid-template-rows: 5rem repeat(5, 1rem);
    transition: all 0.4s ease;
  }

  & h2 {
    font-size: 2.5rem;
    font-variant: small-caps;
    padding-left: 1rem;
    @include respond(tab-port) {
      color: #fff;
      text-align: center;
      font-size: 3rem;
    }
  }

  &__nav {
    display: grid;
    grid-row-gap: 1rem;
    margin-top: 2rem;
    @include respond(tab-port) {
      grid-row-gap: 2rem;
    }
  }

  &__item {
    font-size: 1.3rem;
    text-transform: capitalize;
    cursor: pointer;
    padding: 1rem;
    display: grid;
    align-items: center;
    position: relative;
    height: 2rem;

    @include respond(tab-port) {
      padding-left: 5rem;
      font-size: 2.5rem;
    }

  }

  &__span {
    width: 8px;
    background: $color-amaranth;
    position: absolute;
    right: 0;
    height: 100%;
    display: block;
    transform: scaleY(0);
    transition: all 0.4s ease-in-out;
  }

  &__link {
    text-decoration: none;
    color: $color-blueberry-soda;
    transition: transform 0.2s ease;
    display: block;
    height: 100%;
    position: relative;

    &:hover {
      color: $color-dark-gunmetal;

      @include respond(tab-port) {
        color: #fff;
      }
    }
  }

  &__link--mobile {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }
}

.scroll--active {
  transform: scale(1.1);
  color: $color-blueberry-soda;
  transition: all 0.5s ease;
  @include respond(tab-port) {
    color: #fff;
  }

  & + span {
    transform: scaleY(1);
    transition: all 1s ease;
  }
}
