.section {
  background: #fff;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 6rem 8rem 4rem 6rem;

  @include respond(phone) {
    padding: 6rem 2rem 5rem 2rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  &__sub-title {
    color: $color-blueberry-soda;
    font-size: 1.6rem;
    padding: 1rem 0;
    letter-spacing: 1px;
    font-weight: 300;
    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 8rem auto auto;



  }

  // buttons section
  &__content--buttons {
    grid-template-columns: repeat(auto-fill, minmax(15rem , 1fr));
    grid-column-gap: 2px;
    grid-row-gap: 2rem;
    justify-items: center;
  }

  // cards section
  &__content--split {
    grid-template-columns:  1.5fr 2fr;
    grid-template-rows: 4rem minmax(0 ,1fr) auto;
    grid-column-gap: 4rem;
    @include  respond(phone){
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
    }
    & .markup {
      grid-row: 3/ 4;
    }
  }
  &__content-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: end;
    font-size: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__content-title--card {
    grid-column: 2 /-1;
    grid-row: 2/ 3;
  }

  &__group {
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    justify-self: center;
    align-content: center;
    align-self: center;
    width: 100%;
    @include respond(phone) {
      padding: 5rem 0;
      grid-column: 1 / -1;
      grid-row: 1/ 2;
    }

    & p {
      font-size: 1.4rem;
      line-height: 1.6;
    }
  }
}

.markup {
  border: 1px solid #f2f5fa;
  margin: 2rem 0;
  grid-column: 1/ -1;
  width: 100%;
  box-sizing: border-box;

  @include respond(tab-port) {
    margin: 4rem 0;
  }

  &__button {
    width: 100%;
    height: 4rem;
    text-transform: capitalize;
    color: $color-blueberry-soda;
    border: 1px solid #f2f5fa;
    outline: none;
    font-size: 1.5rem;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    background: none;


    &:after {
      content: "";
      width: 100%;
      height: 2px;
      background: #51d0ef;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: center;
      transition: all 0.4s ease;
    }

    &:hover:after {
      width: 100%;
      transform: scaleX(1);
    }
  }

  &__button--active:after {
    width: 100%;
    transform: scaleX(1);
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease;
  }
  &__content--open {
    max-height: 500px;
  }
}
