


.main__container {
  display: grid;
  grid-template-columns: 20rem auto;
  background: $color-boysenberry-shadow;
  padding-top: 5rem;
  position: relative;

  @include respond(tab-port) {
    grid-template-columns: auto;
  }


}


