
.main {
  display: grid;
  grid-row-gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 25rem;
  justify-items: center;
  padding-right: 1rem;

  @include respond(tab-land) {
    padding-right: 2rem;
  }
  @include respond(tab-port-2) {
    padding-right: 2rem;
  }

  @include respond(tab-port) {
    padding: 0rem 1rem;
  }
  @include respond(phone) {
    padding: 0 2rem;
  }
}
